@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #1c1c1c;
  --primary: #c9f66f;
  --secondary: #252525;
  --contrast: #ffffff;
  --test: #1d2021;
}

body {
  background-color: var(--background);
  color: var(--contrast);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  background-color: var(--secondary);
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-image {
  height: 40px;
  filter: invert(100%);
}

nav {
  display: flex;
  align-items: center;
}

.header-links {
  text-decoration: none;
  color: var(--contrast);
  margin-left: 30px;
  transition: color 0.3s ease;
}

.header-links:hover {
  color: var(--primary);
}

main {
  padding: 115px 100px;
}

#login-btn {
  background-color: var(--primary);
  color: var(--background);
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

#login-btn:hover {
  background-color: var(--background);
  color: var(--primary);
  transition: 400ms;
}

/* main section */

section {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: var(--primary);
  font-size: 50px;
}

.article-main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.3;
}

.article-main-text > p {
  font-size: 18px;
}

.button {
  font-weight: 500;
  color: var(--background);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  padding: 8px 5px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--background);
  color: var(--primary);
  transition: 600ms;
}

/* features */

.secondary-main {
  display: flex;
  justify-content: space-around;
  padding: 0px 80px;
}

.secondary-main-heading {
  padding-top: 20px;
  text-align: center;
}

.secondary-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 0px 30px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 200px;
  padding: 40px 20px;
  background-color: var(--secondary);
  gap: 10px;
}

.feature-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

hr {
  border: 0.5px solid var(--secondary);
}

/* about us */

.about-us-img {
  height: 500px;
}

h2 {
  font-size: 40px;
  color: var(--primary);
  /* text-align: center; */
}

.about-us {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 100px;
  text-align: justify;
}

.about-us-text {
  font-size: 18px;
}

/* footer */

footer {
  padding: 0px 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img-footer {
  height: 30px;
  filter: invert(100%);
}

a[href="#top"] {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--contrast);
  margin-left: 30px;
  transition: color 0.3s ease;
}

.material-symbols-outlined {
  font-size: 40px;
  color: var(--contrast);
}
