@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --background: #1c1c1c;
  --primary: #c9f66f;
  --secondary: #252525;
  --contrast: #ffffff;
  --test: #1d2021;
}

body {
  background-color: var(--background);
  color: var(--contrast);
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
  height: 65%;
  background-color: var(--secondary);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  font-size: 35px;
  color: var(--primary);
  margin-bottom: 20px;
}

input {
  height: 50px;
  width: 380px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 10px 35px 10px 5px;
  color: #fff;
  border-bottom: 2px solid var(--contrast);
}

input:focus {
  border-bottom: 3px solid var(--primary);
}

.submit {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--background);
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  border: none;
  font-size: 18px;
}

.submit:hover {
  background-color: var(--background);
  color: var(--primary);
  transition: 300ms;
}

input[type="submit"]:focus {
  border-bottom: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--contrast);
  transition: 300ms;
}
.text {
  text-align: center;
}
